@import 'normalize.styl'
@import 'fonts.styl'
@import 'bxslider.styl'
@import 'sidebar.styl'
@import 'nib'

ul
p
h1
h2
h3
figure
	margin 0
	padding 0
ul
	list-style none

[class^="icon-"], [class*=" icon-"]
	font-family 'icomoon'
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	font-smoothing antialiased
	osx-font-smoothing grayscale

.icon-check
	&:before
		content "\e600"

.icon-menu
	&:before
		content "\e601"

.icon-usuario
	&:before
		content "\e602"

.icon-candado
	&:before
		content "\e603"

.icon-calendario
	&:before
		content "\e604"

.icon-arroba
	&:before
		content "\e605"

.icon-telefono
	&:before
		content "\e606"
.left
	float left
.right
	float right
.relativo
	position relative
.absoluto
	position absolute

gris = #333
gris_claro = #D9D9D9
dorado = #E2B653
cafe = #975D3C
verde = #6FA625

boton(color)
	background-color transparent
	border-bottom 4px solid color
	border-left 1px solid color
	border-radius 5px
	border-right 1px solid color
	border-top 1px solid color
	color color
	font-family 'SansBold'
	padding 8px 0
	text-transform uppercase
	width 100%


	
a
	&:link
	&:visited
		text-decoration none
		color gris

body
	background-color gris_claro
	color gris
	font-family 'SansRegular'
	font-size 16px
	font-weight normal
h1
	color cafe
	font-family 'SansBold'
	font-size 1.1rem
	margin 10px 0
	text-align center
	text-transform uppercase

.idiomas
	height auto
	padding .8em
	width auto
	.menu-movil
		background-color dorado
		border-radius 5px
		color white
		display inline-block
		height 1.5em
		padding .3em
		text-align center
		vertical-align middle
		width 1.5em
		a
			&:link
			&:visited
				color white
				font-size 1.5em
	.lenguajes
		display inline-block
		padding-top 5px
		text-align right
		vertical-align middle
		ul
			li
				display inline-block
				margin-left 10px
				vertical-align top
header
	figure
		font-size 0
		padding 10px 0
		text-align center
.usuario
	border-bottom 6px solid dorado
	padding 10px 0
	text-align center
	li
		display inline-block
		margin 0 8px
		vertical-align top
		a
			&:link
			&:visited
				font-size .8em
			&:hover
				text-decoration underline
.sb-slidebar
	ul
		text-align center
		li
			&:hover
				background-color: gris
			&:hover
				a
					color white
			a
				display block
				font-size: 1.5em
				&:link
				&:visited
					margin 10px 0
					padding 10px 0
section
	padding 1rem
	.formulario_reserva
		.input-text
			margin-bottom 10px
			input
				border 1px solid gris
				border-radius 5px
				box-sizing border-box
				height 2.6rem
				padding .8em
				width 100%
			span
				font-size 1.5rem
				top 8px
				right .5rem
		.select
			margin-bottom 10px
			select
				border 1px solid gris
				border-radius 5px
				padding 0.4em
				width 50%
		.boton-principal
			margin 15px 0
			input[type="submit"]
				boton(dorado)
				&:hover
					background-color dorado
					color white
		.aviso
			font-size .8em
			a
				&:link
				&:visited
					text-transform: uppercase
					color dorado
				&:hover
					text-decoration: underline
	.habitacion
		margin-bottom 20px
		figure
			font-size 0
			text-align center
			img
				height auto
				width 100%
		h2
			margin-top 10px
		.precio
			text-align right
			color cafe
			h3
				text-transform uppercase
				font-family 'SansBold'
			p
				&:nth-child(2)
					font-family 'SansBold'
					font-size: 1.2em		
				&:last-child
					font-size .8em
		.boton2
			margin 15px 0
			input[type="submit"]
				boton(verde)
				&:hover
					background-color: verde
					color white
footer
	background-color: gris
	border-top 4px solid dorado
	padding 0 1em
	ul
		padding 15px 0
		text-align center
		li
			display inline-block
			margin 0 15px
			a
				&:link
				&:visited
					color white
				&:hover
					text-decoration underline
	figure
		font-size 0
		text-align center
		padding-bottom 12px
